In [2]:
from IPython.display import JSON
import pandas as pd
import json
import seaborn as sns
import matplotlib.pyplot as plt
from ipywidgets import interact

/Users/shengnan/opt/anaconda3/lib/python3.8/site-packages/scipy/__init__.py:138: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.4)
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion} is required for this version of "

In [3]:
import ast
# Read all lines into a list
with open('/Users/shengnan/Desktop/projects/GitHub/covid_vaccine/data.json') as f:
    content = f.readlines()

# Convert each list item to a dict
content = [ ast.literal_eval( line ) for line in content ]

In [4]:
df = pd.DataFrame(content)

In [5]:
df=df.fillna(0)
df['date']=pd.to_datetime(df['date']).dt.date

In [6]:
df['year-month']=df['date'].apply(lambda x: str(x.year) + '-' + str(x.month))

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40740 entries, 0 to 40739
Data columns (total 15 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   date                                 40740 non-null  object
 1   location                             40740 non-null  object
 2   total_vaccinations                   40740 non-null  float64
 3   total_distributed                    40740 non-null  float64
 4   people_vaccinated                    40740 non-null  float64
 5   people_fully_vaccinated_per_hundred  40740 non-null  object
 6   total_vaccinations_per_hundred       40740 non-null  object
 7   people_fully_vaccinated              40740 non-null  float64
 8   eople_vaccinated_per_hundred         40740 non-null  object
 9   distributed_per_hundred              40740 non-null  object
 10  share_doses_used                     40740 non-null  object
 11  daily_vaccinations_raw               40740 non-null  float64
 12  daily_vaccinations                   40740 non-null  float64
 13  daily_vaccinations_per_million       40740 non-null  object
 14  year-month                           40740 non-null  object
dtypes: float64(6), object(9)
memory usage: 4.7+ MB

In [8]:
df['nbr_dose_per_person']=df['total_vaccinations']/df['people_vaccinated']
df['nbr_dose_per_person']=df['nbr_dose_per_person'].astype(float).round(2)
df[df['date'].astype(str)=='2022-10-05'][['location','nbr_dose_per_person']].sort_values('nbr_dose_per_person',ascending=False)
# df

                location  nbr_dose_per_person
19860          Minnesota                 2.63
40107          Wisconsin                 2.62
36315            Vermont                 2.60
28076               Ohio                 2.56
10743             Hawaii                 2.55
...                  ...                  ...
12639  Indian Health Svc                 2.11
631              Alabama                 2.11
37579     Virgin Islands                 2.08
6951     Dept of Defense                 1.96
26180     North Carolina                 1.95

[64 rows x 2 columns]

In [9]:
state = df.location.unique()
@interact(state = state)
def f(state):      
    df2 = df[df['location'].str.contains(state)]
    sns.set(rc={'figure.figsize':(17,8.27)})
    return sns.barplot(x = df2['year-month'].unique(), 
            y = df2.groupby(['year-month'])['daily_vaccinations'].sum())

interactive(children=(Dropdown(description='state', options=('Alabama', 'Alaska', 'American Samoa', 'Arizona',…

In [10]:
state = df.location.unique()
@interact(state = state)
def f(state):      
    df3 = df[df['location'].str.contains(state)]
    sns.set(rc={'figure.figsize':(17,8.27)})
    return sns.scatterplot(x = df3['date'].unique(), 
            y = df3['share_doses_used'].astype(float))

interactive(children=(Dropdown(description='state', options=('Alabama', 'Alaska', 'American Samoa', 'Arizona',…